<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokemonMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5F2E50E1EC3309500671C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5F2E5251EC3309600671C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5F2E5301EC3309600671C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
